
$screen-size--xxl: 1570px;
$screen-size--xl: 1441px;
$screen-size--lg: 1200px;
$screen-size--md: 992px;
$screen-size--sm: 768px;
$screen-size--mobile: 767px;
$screen-size--xs: 400px;

@mixin darkModeColors() {
  --bg-start-rgb: 35, 35, 35;
  --bg-end-rgb: 35, 35, 35;
  --base-bg-color: #232323;
  --base-bg-rgb-color: 35, 35, 35;
  --base-color: #d6d6d6;
  --base-rgb-color: 186, 186, 186;
  --border-color: #4b4b4b;
  --border-rgb-color: 75, 75, 75;
  --light: #fff;
  --light-rgb: 255, 255, 255;
  --dark: #232323;
  --dark-rgb: 35, 35, 35;

  --home-about-sec-bg-color: #3A3A3A;
  --home-about-sec-color: #d6d6d6;
  --home-about-sec-border-color: #545454;
  // --home-about-profile-image: 
  --horizontal-scrollbar-bg: #1A1A1A;
  --grid-line-color: rgba(var(--border-rgb-color), 0.4);
  

}
@mixin lightModeColors() {
  --bg-start-rgb: 214, 219, 220;
  --bg-end-rgb: 255, 255, 255;
  --base-bg-color: #f1f1f1;
  --base-bg-rgb-color: 243, 243, 243;
  --base-color: #232323;
  --base-rgb-color: 35, 35, 35;
  --border-color: #c5c5c5;
  --border-rgb-color: 197, 197, 197;
  --light: #232323;
  --light-rgb: 35, 35, 35;
  --dark: #ffffff;
  --dark-rgb: 255, 255, 255;
  --home-about-sec-bg-color: #353535;
  --home-about-sec-color: #d6d6d6;
  --home-about-sec-border-color: #545454;
  --horizontal-scrollbar-bg: #dbdbdb;
  --grid-line-color: rgba(var(--border-rgb-color), 0.35);
}

:root {
  @include lightModeColors();
  --cursor-color: #d6d6d6;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --black: #232323;
  --black-rgb: 35, 35, 35;
  --full-black: #000000;
  --full-black-rgb: 0, 0, 0;
  
  --primary: #E5A624;
  --primary-rgb: 229, 166, 36;
  --footer-bg: #E5EEF1;
  --current-color: inherit;
  --secondary-glow: radial-gradient(rgba(1, 103, 255, 0.35), rgba(1, 103, 255, 0));
  --primary-glow: linear-gradient(to bottom right, rgba(var(--primary-rgb), 0), rgba(var(--primary-rgb), 0), rgba(var(--primary-rgb), .3));
  --swiper-theme-color: var(--primary) !important;
  --swiper-pagination-bullet-size: 10px !important;
  --swiper-pagination-bullet-inactive-color: var(--base-color) !important;
  
  --initial-font-size: 1.2rem;
  --initial-line-height: 1.75rem;
  
  --scroll-bar-width: 3px;
  --cta-button-height: 50px;
  --wrapper-inline-gap: calc(1rem + 1vw);
  --wrapper-width: calc(1400px + 10vw);
  --wrapper-column-width: calc(var(--wrapper-width) / 4);
  
  --max-width-vw: calc(92vw - var(--scroll-bar-width));
  --remain-vw-width: calc(100% - calc(var(--wrapper-width)));

  --transparent: transparent;
  --max-z-index: 10;
  --common-btn-height: 42px;
  --common-elements-gap: 0.75rem;
  --header-height: 80px;
  --header-bg-color: transparent;
  --border-radius: 0.35rem;


  --transition: all 0.35s ease-in-out;
  --hero-banner-height: 260px;
  --mobile-padding-x: 2vw;

  --header-height: 100px;

  --font-size-xxl: 66px;
  --font-size-xl: calc(var(--font-size-xxl) - 6px);
  --font-size-lg: calc(var(--font-size-xl) - 6px);
  --font-size-h1: calc(var(--font-size-lg) - 6px);
  --font-size-h2: calc(var(--font-size-h1) - 6px);
  --font-size-h3: calc(var(--font-size-h2) - 6px);
  --font-size-h4: calc(var(--font-size-h3) - 6px);
  --font-size-h5: calc(var(--font-size-h4) - 6px);
  --font-size-h6: calc(var(--bs-font-size-h5) - 6px);

  --gilroy--thin: "Gilroy Thin", "Ubuntu", sans-serif;
  --gilroy--light: "Gilroy Light", "Ubuntu", sans-serif;
  --gilroy--ultraLight: "Gilroy UltraLight", "Ubuntu", sans-serif;
  --gilroy--regular: "Gilroy Regular", "Ubuntu", sans-serif;
  --gilroy: "Gilroy Regular", "Ubuntu", sans-serif;
  --gilroy--medium: "Gilroy Medium", "Ubuntu", sans-serif;
  --gilroy--semiBold: "Gilroy SemiBold", "Ubuntu", sans-serif;
  --gilroy--bold: "Gilroy Bold", "Ubuntu", sans-serif;
  --ubuntu: "Ubuntu", "Roboto", sans-serif;
}
@media (width < $screen-size--xl) {
  :root {
    --wrapper-width: calc(1200px + 0vw);
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    @include darkModeColors();
  }
}
@media (prefers-color-scheme: light) {
  :root {
    @include lightModeColors();
  }
}