@import './variables';
@import './mixins';
@import './classes';

// module-wise
@import './header.scss';
@import './footer.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: var(--gilroy);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
html { 
  font-size: 16px; 
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  background-color: var(--base-bg-color);
  // background: linear-gradient(to bottom, transparent, rgb(var(--bg-end-rgb))) rgb(var(--bg-start-rgb));
  color: var(--base-color);
  scrollbar-gutter: stable both-edges;
  font-family: var(--gilroy);
  font-size: var(--initial-font-size);
  line-height: var(--initial-line-height);
  scrollbar-width: thin;
  @include scrollBar();
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p { 
  margin-block-end: 1rem; 
  font-size: var(--initial-font-size);
  line-height: var(--initial-line-height);
  strong { font-family: var(--gilroy--semiBold); }
}
section { position: relative; z-index: 0; }

.wrapper {
  width: 100%;
  height: 100%;
  max-width: var(--wrapper-width);
  position: relative;
  margin-inline: auto;
}

.cta-button {
  --shadow-color: var(--border-color);
  --button-bg-color: var(--transparent);
  --button-color: var(--base-color);

  --shadow-hover-color: var(--primary);
  --button-hover-bg-color: var(--primary);
  --button-hover-color: var(--black);

  --button-height: var(--cta-button-height);
  
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  height: var(--button-height);
  padding-inline-start: calc(var(--button-height) / 2.5);
  box-shadow: inset 0 0 0 1px var(--shadow-color);
  transition: var(--transition);
  background-color: var(--button-bg-color);
  color: var(--button-color);
  cursor: pointer;
  font-family: var(--gilroy--semiBold);
  &__icon {
    position: relative;
    flex-shrink: 0;
    width: var(--button-height);
    height: var(--button-height);
    color: inherit;
    padding: 1rem;
    transition: padding 0.3s ease-in-out;
    @include centerItems();
  }
  &:hover {
    box-shadow: inset 0 0 0 1px var(--shadow-hover-color);
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    .cta-button__icon {
      transition-delay: 0.3s;
      padding: .55rem;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
  &--primary {
    --shadow-color: var(--primary);
    --button-bg-color: var(--primary);
    --button-color: var(--black);
    --shadow-hover-color: var(--primary);
    --button-hover-bg-color: var(--transparent);
    --button-hover-color: var(--primary);
    &-outline {
      --button-color: var(--primary);
    }
  }
  &--inline { max-width: max-content; display: inline-flex; }
  &--large {
    --button-height: calc(var(--cta-button-height) * 1.25);
  }
}

.grid-columns {
  position: relative;
  width: 100%;
  max-width: var(--wrapper-width);
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  user-select: none;
  display: flex;
  z-index: -1;
  &__column {
    width: 100%;
    border-inline-end: 1px solid var(--grid-line-color);
    &:first-child {border-left: 1px solid var(--grid-line-color);}
  }
}

.hand-wave-icon {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) scale(1.0); }
  10% { transform: rotate(14.0deg) scale(1.05); }
  20% { transform: rotate(-8.0deg) scale(1.055); }
  30% { transform: rotate(14.0deg) scale(1.25); }
  40% { transform: rotate(-4.0deg) scale(1.05); }
  50% { transform: rotate(10.0deg) scale(1.04); }
  60% { transform: rotate( 0.0deg) scale(1.02); }
  100% { transform: rotate( 0.0deg) scale(1.0); }
}

.cta-call-button {
  --button-height: 50px;
  --button-width: calc(var(--cta-button-height) * 1.3);
  --button-bg: #43d954;
  --button-color: #ffffff;
  --button-right-margin: calc(var(--remain-vw-width) / 2 - calc(var(--button-width)));
  position: fixed;
  inset-inline-end: calc(1rem + 1.5vw);
  inset-block-end: calc(1rem + 1vw);
  width: var(--button-width);
  height: var(--button-width);
  border-radius: var(--button-width);
  background-color: var(--button-bg);
  color: var(--button-color);
  font-size: var(--font-size-h3);
  @include centerItems();
  text-shadow: 0 2px 2px rgba(#000000, .15);
  @include cardShadow();
  transition: var(--transition);
  z-index: calc(var(--max-z-index) - 1);
  i { margin-top: -0.2rem; }
  &:hover {
    --button-bg: #ffffff;
    --button-color: #43d954;
    text-shadow: none;
    scale: 1.05;
  }
}

.first-section {
  --circle-width: 125vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  isolation: isolate;
  &::after {
    content: '';
    position: absolute;
    width: var(--circle-width);
    height: var(--circle-width);
    border-radius: var(--circle-width);
    inset-block-start: calc(0px - calc(var(--circle-width) / 4));
    inset-inline-end: calc(0px - calc(var(--circle-width) / 4));
    display: none;
  }
  .sub-section {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
    &__block { 
      position: relative; 
      display: flex;
      flex-direction: column;
      gap: calc(1rem + 1vw);
      .scroll-to-bottom {
        --mouse-width: 25px;
        position: absolute;
        inset-block-start: calc(100% + 3vh);
        max-width: 150px;
        text-wrap: balance;
        line-height: normal;
        font-family: var(--gilroy--semiBold);
        font-size: 0.95rem;
        padding-inline-start: calc(var(--mouse-width) * 1.5);
    
        &::after,
        &::before {
          content: '';
          position: absolute;
        }
    
        &::after {
          top: 0;
          left: 0;
          width: var(--mouse-width);
          height: calc(var(--mouse-width) * 1.618);
          border-radius: var(--mouse-width);
          border: 1px solid rgba(var(--light-rgb), 0.35);
        }    
        &::before {
          inset-inline-start: calc(var(--mouse-width) / 2 - 0px);
          inset-block-start: calc(var(--mouse-width) / 3);
          width: 2px;
          border-radius: 10px;
          height: calc(var(--mouse-width) / 2.5);
          background-color: var(--base-color);
          animation: mouseScrollStrip 2s linear infinite;
        }
    
        @keyframes mouseScrollStrip {
          0% {
            inset-block-start: calc(var(--mouse-width) / 3);
          }    
          100% {
            inset-block-start: calc(var(--mouse-width) * 1);
          }
        }
      }
    }
    .first-section__image {
      padding-inline-start: 2.2vw;
      @include centerItems();
      @include objectFit($fit: contain);
    }
    .design-dev-letters {
      --svg-element-height: 176px;
      --svg-stroke-color: var(--transparent);
      --svg-stroke-width: 0;
      --svg-element-color: var(--base-color);
      --svg-element-gap: calc(var(--svg-element-height) - 140px);
      --svg-pencil-height: calc(var(--svg-element-height) - 65px);
      --svg-pencil-color: var(--primary);
      --svg-pencil-width: calc(var(--svg-element-height) + 62.5%);
      --svg-pencil-left-margin: calc(var(--svg-element-height) - 183px);
      --svg-stroke-width: 1px;

      --extra-letters-padding-inline: 0;
      --extra-letters-width: max-content;
      --extra-letters-height: 50px;
      --extra-letters-spacing: -10rem;

      max-width: calc(var(--wrapper-column-width) * 2);
      display: flex;
      flex-direction: column;
      gap: var(--svg-element-gap);
      
      .__designer, .__developer {
        position: relative;
        @include centerItems($jc: flex-start);
        width: max-content;
        max-width: max-content;
        height: var(--svg-element-height);
        color: var(--svg-element-color);
        transition: var(--transition);

        // * { cursor: pointer !important; }
        
        path, rect { 
          transition: var(--transition); 
          stroke: var(--svg-stroke-color);
          stroke-width: var(--svg-stroke-width);
        }
        svg { 
          width: auto; 
          max-height: 100%; 
        }
        cursor: url('/images/cursor-dark-mode.svg') 50 50, auto;
        
        .extra-letters {
          position: absolute;
          z-index: 1;
          width: var(--extra-letters-width);
          height: var(--extra-letters-height);
          border-radius: calc(var(--extra-letters-height) / 8);
          inset-block: calc(50% - calc(var(--extra-letters-height) / 2));
          padding-inline: var(--extra-letters-padding-inline);
          left: 50%;
          transform: translateX(-50%);          
          background-color: var(--primary);
          color: var(--black);
          text-transform: uppercase;
          letter-spacing: var(--extra-letters-spacing);
          font-family: var(--gilroy--bold);
          overflow: hidden;
          transition: var(--transition);
          transition-delay: 0.1s;
          white-space: nowrap;
          // border-block-start: 1px solid var(--primary);
          // border-block-end: 1px solid var(--primary);
          @include centerItems();
        }
      }
      .__pencil {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        inset-block-start: 50%;
        transform: translateY(calc(-50% + 3px));
        inset-inline-start: var(--svg-pencil-left-margin);
        max-width: max-content;
        color: var(--svg-pencil-color);
        svg {
          width: var(--svg-pencil-width);
          height: var(--svg-pencil-height);
        }
      }
      &:hover {
        --svg-pencil-color: var(--base-color);
        .__designer, .__developer {
          // filter: blur(5px);
          &:hover {
            --extra-letters-width: max-content;
            --extra-letters-spacing: 0.35rem;
            --svg-stroke-width: 2;
            --svg-stroke-color: var(--primary);
            --svg-element-color: var(--base-bg-color);
            opacity: 1;
            filter: blur(0);
            #arrow {
              color: var(--dark);
            }
            .extra-letters { 
              // inset-inline-start: 0; 
              --extra-letters-padding-inline: calc(var(--extra-letters-height) / 2);
              transform: translateX(-50%) rotate(-10deg);
            }
          }
        }
      }
      // @media (width < 1440px) {
      //   --svg-element-height: 130px;
      // }
    }
  }
  .backdrop {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    &::before, &::after {
      content: "";
      position: absolute;
      filter: blur(100px);
      transform: translateZ(0);
      width: 30vw;
      aspect-ratio: 1 / 1;
      z-index: -1;
    }
    &::after {
      background: var(--secondary-glow);
      inset-inline-end: 10vw;
    }
    &::before {
      background: var(--primary-glow);
      inset-inline-start: -15vw;   
    }
  }
}

.sub-hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-about-sec {
  --sec-element-minus-margin: 150px;
  --sec-bg-color: var(--home-about-sec-bg-color);
  --sec-text-color: var(--home-about-sec-color);
  position: relative;
  padding-block-end: calc(2rem + 2vw + var(--sec-element-minus-margin));
  &__container {
    position: relative;
    width: 100%;
    background-color: var(--sec-bg-color);
    color: var(--sec-text-color);
    display: flex;
    isolation: isolate;

    .cta-button { --shadow-color: var(--home-about-sec-border-color); }
    .container-special-block {
      position: absolute;
      inset: 0;
      z-index: -1;
      overflow: hidden;
      &::after {
        content: '';
        aspect-ratio: 1 / 1;
        height: 100%;
        scale: 1.4;
        border-radius: 100% 0 0 100%;
        position: absolute;
        inset-inline-end: 0;
        background-color: var(--sec-text-color);
        opacity: 0.15;
        z-index: -1;
      }
    }
    .sec-content {
      position: relative;
      width: 100%;
      max-width: calc(var(--wrapper-column-width) * 2);
      display: flex;
      padding-block: calc(1.5rem + 2vw);
      text-wrap: balance;
      .__name {
        color: var(--primary);
        max-width: fit-content;
        // border-block-end: 1px solid;
      }
      &__logo {
        flex-shrink: 0;
        position: relative;
        width: 100%;
        max-width: var(--wrapper-column-width);
        @include centerItems();
        flex-direction: column;
      }
    }
    .sec-profile {
      position: relative;
      margin-block-end: calc(0px - var(--sec-element-minus-margin));
      width: 100%;
      max-width: calc(var(--wrapper-column-width) * 2);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 2vw 2vw 0 2vw;
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('/images/profile-bg-icons.svg');
        background-repeat: no-repeat;
      }
      img {
        display: block;
        // box-shadow: 0 1px 0 0 var(--border-color), inset 0 -1px 0 0 var(--border-color);
      }
    }
  }
}

.sec-heading-block {
  --elem-padding-start: calc(var(--wrapper-column-width) * 1);
  position: relative;
  padding-inline-start:  var(--elem-padding-start);
  &__top-strip {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: calc(1rem + 1.5vw);
  }
  .heading {
    &--small {
      position: relative;
      display: flex;
      align-items: center;
      gap: calc(1rem + 0.5vw);
      margin: 0;
      &::before {
        content: '';
        width: 50px;
        height: 1px;
        background-color: var(--base-color);
      }
    }
    &--big {
      --letter-spacing: -12px;
      --icon-size: 300px;
      position: relative;
      font-family: var(--bebas-neue);
      letter-spacing: var(--letter-spacing);
      font-size: clamp(50px, 50vw, 250px);
      line-height: clamp(50px, 25vw, 230px);
      margin-inline-start: -11px;
      text-wrap: balance;
      isolation: isolate;
      display: flex;
      align-items: center;
      .outline {
        // -webkit-text-fill-color: var(--transparent);
        // -webkit-text-stroke-width: none;
        // -webkit-text-stroke-color: var(--transparent);
        letter-spacing: calc(var(--letter-spacing) - 5px);
        color: var(--base-bg-color);
        margin-inline-start: 4px;
        @include outlineTextShadow();
      }
      .__icon {
        position: absolute;
        // height: 100%;
        // aspect-ratio: 1 / 1;
        @include centerItems();
        @include objectFit();
        inset-block-start: 5%;
        inset-inline-end: 5%;
        overflow: visible;
        isolation: isolate;
      }
      &::after {
        display: none;
        content: url('/images/hand_puzzel.png');
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 10%;
        z-index: -1;
        filter: blur(100px);
      }
    }
  } 
}

.category-tabs-container {
  --elem-max-width: calc(var(--wrapper-column-width) * 1);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  &__illustration {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    max-width: var(--elem-max-width);
    padding-inline-end: calc(1rem + 1vw);
    @include objectFit($overFlow: visible);
    img {margin-inline-start: calc(-1rem - 0.5vw);}
  }
  &__content {
    position: relative;
    width: 100%;
    max-width: calc(var(--wrapper-column-width) * 3);
    .category-tabs {
      --tab-height: 100px;
      --tab-icon-size: calc(var(--tab-height) - 35px);
      --tab-hover-bg-width: 7px;
      --tab-text-color: var(--home-about-sec-color);
      position: relative;
      display: flex;
      align-items: center;
      &__tab {
        position: relative;
        width: calc(var(--elem-max-width));
        padding-inline-end: calc(1rem + 1vw);
        &--link {
          position: relative;
          width: 100%;
          height: var(--tab-height);
          padding-inline-start: calc(var(--tab-height) / 2.75);
          padding-inline-end: calc(var(--tab-height) / 5);
          background-color: var(--home-about-sec-bg-color);
          display: flex;
          align-items: center;
          gap: calc(1rem + 0.5vw);
          font-size: var(--font-size-h5);
          font-family: var(--gilroy--bold);
          isolation: isolate;
          transition: var(--transition);
          color: var(--tab-text-color);
          .__icon {
            @include centerItems();
            width: var(--tab-icon-size);
            height: var(--tab-icon-size);
            flex-shrink: 0;
            padding: 0.35rem;
            @include objectFit($fit: contain);
          }
          &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: var(--tab-hover-bg-width);
            inset-inline-start: 0;
            background-color: var(--primary);
            z-index: -1;
            transition: var(--transition);
          }
          &:hover {
            --tab-hover-bg-width: 100%;
            --tab-text-color: var(--black);
          }
        }
      }
    }
  }
}

.home-projects-sec {
  position: relative;
  width: 100%;
  padding-block: calc(2rem + 2vw);
  
  &__container {
    position: relative;
  }
}

.home-project-slider-container {
  position: relative;
  width: 100%;
  z-index: 1;
  .project-slider {
    position: relative;
    padding-inline: calc(var(--remain-vw-width) / 2);
    padding-block-start: calc(1.5rem + 1.5vw);
    padding-block-end: calc(1rem + 1vw);
    .swiper-scrollbar {
      &.swiper-scrollbar-horizontal {
        --swiper-scrollbar-size: 8px;
        background-color: var(--grid-line-color);
        padding: calc(var(--swiper-scrollbar-size) / 4);
        border-radius: 0;
        transform: translateX(-50%);
        left: 50%;
        max-width: var(--wrapper-width);
        transition: var(--transition);
        .swiper-scrollbar-drag {
          background-color: var(--primary);
          transition: inherit;
        }
        &:hover, &:focus-within, &:active {
          cursor: grab;
          --grid-line-color: var(--full-black);
          --swiper-scrollbar-size: 15px;
        }
      }
    }
    &__slide {
      background-color: var(--base-color);
      position: relative;
      width: calc(var(--wrapper-column-width) * 2 - 21px);
      // aspect-ratio: 16 / 9;
      overflow: hidden;
      &__image {
        position: relative;
        background-color: red;
        img {display: block;}
        @include objectFit();
      }
      
      &__title {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }
  }
}

.home-testimonial-sec {
  position: relative;
  padding-block: calc(1.5rem + 1.5vw);
}
.testimonial-cards {
  --elem-gaps: calc(1rem + 1vw);
  --quote-icon-size: 50px;
  --author-icon-size: 70px;
  position: relative;
  display: flex;
  gap: var(--elem-gaps);
  padding-block-start: calc(1rem + 1.5vw);

  &__card {
    background-color: var(--light);
    color: var(--dark);
    padding: calc(1rem + 1vw);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .quote-icon {
      width: var(--quote-icon-size);
      height: var(--quote-icon-size);
      @include objectFit($fit: contain, $overFlow: visible);
      img {
        filter: drop-shadow(5px 5px 5px rgba(var(--full-black-rgb), 0.15));
      }
    }
    .author-profile {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      &__image {
        position: relative;
        width: var(--author-icon-size);
        height: var(--author-icon-size);
        background-color: var(--dark);
        border-radius: var(--author-icon-size);
        box-shadow: 0 0 0 1px var(--grid-line-color);
        @include objectFit();
      }
    }
  }
  
}



























// .mouseCursor {
//   position: absolute;
//   cursor: pointer;
//   width: 45px;
//   height: 45px;
//   border-radius: 40px;
//   border: 1px solid blue;
//   // transform: translate(-50%, -50%);
//   // transform-origin: 100% 100%;
//   transition: all .3s ease;
//   transition-property: background-color, transform, scale;
//   cursor: none;
//   pointer-events: none;
//   z-index: 1;
//   background-color: red;
// }
// .mouseCursor._grow {
//   // scale: 2;
//   background-color: red;
// }
// .cursor-flare {
//   position: fixed;
//   border: 2px solid var(--cursor-color);
//   border-radius: 50%;
//   // mix-blend-mode: screen;
//   pointer-events: none;
//   transform: translate(-50%, -50%);
//   z-index: calc(var(--max-z-index) + 1) !important;
//   background-color: var(--transparent);
//   transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
//   cursor: none !important;
// }
// /* We need to remove this custom cursor in mobile devices */
// @media screen and (max-width: 768px) {
//   .cursor-flare {
//     width: 0;
//     height: 0;
//     transition: width 0.35s ease-in-out, height 0.35s ease-in-out,
//       opacity 0.35s ease-in-out;
//   }
// }
// .cursor-flare.pointer {
//   opacity: 0 !important;
//   transition: width 0.35s ease-in-out, height 0.35s ease-in-out, opacity 0.35s ease-in-out;
// }

