// ========== [ Dark Mode colors ] ========== //
@mixin darkModeColors() {
  --bg-start-rgb: 35, 35, 35;
  --bg-end-rgb: 35, 35, 35;
  --base-bg: #232323;
  --base-bg-rgb: 35, 35, 35;
  --base-color: #d6d6d6;
  --base-color-rgb: 186, 186, 186;
  --border-color: #4b4b4b;
  --border-rgb-color: 75, 75, 75;
  --light: #fff;
  --light-rgb: 255, 255, 255;
  --dark: #232323;
  --dark-rgb: 35, 35, 35;

  --home-about-sec-bg-color: #000;
  --home-about-sec-color: #d6d6d6;
  --home-about-sec-border-color: #545454;
  // --home-about-profile-image: 
  --horizontal-scrollbar-bg: #1A1A1A;
  --grid-line-color: rgba(var(--border-rgb-color), 0.4);
  --grid-line-opacity: 0.75;

  --bottom-sheet-bg: rgba(255, 255, 255, 0.1);
  --bottom-sheet-element-bg: rgba(var(--base-color-rgb), 0.5);
  --bottom-sheet-element-color: #fff;
  --nav-bg: #454545;

}

// ========== [ Light Mode colors ] ========== //
@mixin lightModeColors() {
  --bg-start-rgb: 230, 230, 230;
  --bg-end-rgb: 243, 243, 243;
  --base-bg: #f2f2f2;
  --base-bg-rgb: 243, 243, 243;
  --base-color: #232323;
  --base-color-rgb: 35, 35, 35;
  --border-color: #c5c5c5;
  --border-rgb-color: 197, 197, 197;
  --light: #232323;
  --light-rgb: 35, 35, 35;
  --dark: #ffffff;
  --dark-rgb: 255, 255, 255;
  --home-about-sec-bg-color: #ffffff;
  --home-about-sec-color: #d6d6d6;
  --home-about-sec-border-color: #545454;
  --horizontal-scrollbar-bg: #dbdbdb;
  --grid-line-color: rgba(var(--border-rgb-color), 0.35);

  --bottom-sheet-bg: rgba(255, 255, 255, 0.1);
  --bottom-sheet-element-bg: rgba(255, 255, 255, 0.5);
  --bottom-sheet-element-color: var(--base-color);

  --nav-bg: #fff6;
}

:root {
  color-scheme: light dark;
  @include lightModeColors();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkModeColors();
  }
}
:root[data-appearance="dark"] {
  @include darkModeColors();
}

@media (prefers-color-scheme: light) {
  :root {
    @include lightModeColors();
  }
}
:root[data-appearance="light"] {
  @include lightModeColors();
}